<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Polls{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>
                <ul class="navbar-menu">
                    <li><a href="{% url 'polls:index' %}">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-container">
            <ul class="footer-menu">
                <li><a href="https://docs.djangoproject.com/en/stable/">Docs</a></li>
                <li><a href="https://pypi.org/project/Django/">Packages</a></li>
                <li><a href="https://tutorial.djangogirls.org/">Tutorials</a></li>
                <li><a href="https://www.djangoproject.com/community/">Community</a></li>
                <li><a href="https://www.python.org/">Python</a></li>
            </ul>
        </div>
        <p>&copy; 2024 Poll App. All rights reserved.</p>
    </footer>
</body>
</html>
